# dependencies
/node_modules

# environment & secrets
.env*
*.pem

# logs & debug output
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build / coverage
/dist
/coverage

# OS cruft
.DS_Store